# freeze pylint and its requirements for consistent test results
ansible-core==2.13.5
astroid==2.12.12
cffi==1.15.1
cryptography==38.0.3
dill==0.3.6
isort==5.10.1
Jinja2==3.1.2
lazy-object-proxy==1.8.0
MarkupSafe==2.1.1
mccabe==0.7.0
packaging==21.3
pathspec==0.10.1
platformdirs==2.5.2
pycodestyle==2.9.1
pycparser==2.21
pylint==2.15.5
pyparsing==3.0.9
PyYAML==6.0
resolvelib==0.8.1
tomli==2.0.1
tomlkit==0.11.6
typing_extensions==4.4.0
wrapt==1.14.1
yamllint==1.28.0
