[FORMAT]
max-line-length=160
reports=no
score=no
disable=
  invalid-name,
  missing-docstring,
  protected-access,
  similarities,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-locals,
  too-many-statements,
  unused-argument,
