Version: '2012-10-17'
Statement:
  - Sid: AllowGlobalUnrestrictedResourceActionsWhichIncurNoFees
    Effect: Allow
    Action:
      - s3:GetLifecycleConfiguration
      - s3:PutLifecycleConfiguration
      - s3:PutEncryptionConfiguration
      - s3:GetEncryptionConfiguration
      - s3:CreateBucket
      - s3:DeleteBucket
      - s3:PutBucketAcl
      - s3:PutObjectAcl
      - s3:GetObject
      - s3:GetObjectVersion
      - s3:GetBucketVersioning
      - s3:PutBucketVersioning
      - s3:GetBucketRequestPayment
      - s3:PutBucketRequestPayment
      - s3:GetBucketAcl
      - s3:GetBucketPolicy
      - s3:PutBucketPolicy
      - s3:HeadObject
      - s3:ListBucketVersions
      - s3:DeleteObject
      - s3:PutObject
      - s3:ListBucket
      - s3:GetBucketTagging
      - s3:PutBucketTagging
      - s3:ListAllMyBuckets
      - s3:GetBucketNotification
      - s3:PutBucketNotification
      - s3:GetBucketLogging
      - s3:PutBucketLogging
      - ses:DescribeActiveReceiptRuleSet
      - ses:CreateReceiptRuleSet
      - ses:DeleteReceiptRuleSet
      - ses:ListReceiptRuleSets
      - ses:SetActiveReceiptRuleSet
      - ses:GetIdentityNotificationAttributes
      - ses:GetIdentityVerificationAttributes
      - ses:DeleteIdentity
      - ses:ListIdentities
      - ses:SetIdentityFeedbackForwardingEnabled
      - ses:SetIdentityHeadersInNotificationsEnabled
      - ses:SetIdentityNotificationTopic
      - ses:VerifyDomainIdentity
      - ses:VerifyEmailIdentity
      - ses:GetIdentityPolicies
      - ses:PutIdentityPolicy
      - ses:DeleteIdentityPolicy
      - ses:ListIdentityPolicies
      - ssm:DescribeParameters
      - ssm:DescribeAssociation
      - ssm:GetDeployablePatchSnapshotForInstance
      - ssm:GetDocument
      - ssm:DescribeDocument
      - ssm:GetManifest
      - ssm:ListAssociations
      - ssm:ListInstanceAssociations
      - ssm:PutInventory
      - ssm:PutComplianceItems
      - ssm:PutConfigurePackageResult
      - ssm:UpdateAssociationStatus
      - ssm:UpdateInstanceAssociationStatus
      - ssm:UpdateInstanceInformation
      - ssm:StartSession
      - ssm:TerminateSession
      - ssmmessages:CreateControlChannel
      - ssmmessages:CreateDataChannel
      - ssmmessages:OpenControlChannel
      - ssmmessages:OpenDataChannel
      - ec2messages:AcknowledgeMessage
      - ec2messages:DeleteMessage
      - ec2messages:FailMessage
      - ec2messages:GetEndpoint
      - ec2messages:GetMessages
      - ec2messages:SendReply
      - dms:DescribeReplicationSubnetGroups
      - codebuild:BatchGetProjects
      - codebuild:ListProjects
      - codecommit:ListRepositories
      - codepipeline:ListPipelines
      - codepipeline:GetPipeline
      - sqs:CreateQueue
      - sqs:DeleteQueue
      - sqs:GetQueueUrl
      - sqs:GetQueueAttributes
      - sqs:ListQueues
      - sqs:SetQueueAttributes
      - dynamodb:Scan
      - dynamodb:ListTables
      - dynamodb:DescribeTable
      - kinesis:ListStreams
      - kinesis:DescribeStream
      - cloudformation:DescribeStacks
    Resource: "*"
  - Sid: AllowGlobalResourceRestrictedActionsWhichIncurNoFees
    Effect: Allow
    Action:
      - ssm:PutParameter
      - ssm:DeleteParameter
      - ssm:GetParametersByPath
      - ssm:GetParameters
      - dms:CreateReplicationSubnetGroup
      - dms:DeleteReplicationSubnetGroup
      - dms:ModifyReplicationSubnetGroup
      - dynamodb:DeleteItem
      - dynamodb:PutItem
      - dynamodb:UpdateItem
      - dynamodb:CreateTable
      - dynamodb:DeleteTable
      - dynamodb:UpdateTable
      - dynamodb:TagResource
      - codebuild:CreateProject
      - codebuild:UpdateProject
      - codebuild:DeleteProject
      - codecommit:CreateRepository
      - codecommit:DeleteRepository
      - codecommit:GetRepository
      - codecommit:UpdateRepositoryDescription
      - codepipeline:CreatePipeline
      - codepipeline:DeletePipeline
      - codepipeline:UpdatePipeline
      - SNS:CreateTopic
      - SNS:DeleteTopic
      - SNS:GetTopicAttributes
      - SNS:ListTopics
      - SNS:ListSubscriptionsByTopic
      - states:DescribeExecution
      - states:DescribeStateMachine
      - states:DeleteStateMachine
      - states:ListExecutions
      - states:ListStateMachines
      - states:ListTagsForResource
      - states:TagResource
      - states:UntagResource
      - logs:DescribeLogGroups
      - elasticfilesystem:DescribeFileSystems
      - elasticfilesystem:DescribeMountTargets
      - elasticfilesystem:DescribeMountTargetSecurityGroups
      - elasticfilesystem:DescribeTags
      - elasticfilesystem:CreateFileSystem
      - elasticfilesystem:CreateMountTarget
      - elasticfilesystem:CreateTags
      - elasticfilesystem:DeleteFileSystem
      - elasticfilesystem:DeleteMountTarget
      - kinesis:CreateStream
      - kinesis:DeleteStream
    Resource:
      - arn:aws:ssm:us-east-1:{{ aws_account_id }}:parameter/*
      - arn:aws:dms:us-east-1:{{ aws_account_id }}:subgrp:*
      - arn:aws:codebuild:us-east-1:{{ aws_account_id }}:*
      - arn:aws:codecommit:us-east-1:{{ aws_account_id }}:*
      - arn:aws:codepipeline:us-east-1:{{ aws_account_id }}:*
      - arn:aws:sns:us-east-1:{{ aws_account_id }}:*
      - arn:aws:sqs:us-east-1:{{ aws_account_id }}:*
      - arn:aws:logs:us-east-1:{{ aws_account_id }}:log-group:*
      - arn:aws:elasticfilesystem:us-east-1:{{ aws_account_id }}:file-system/*
      - arn:aws:dynamodb:us-east-1:{{ aws_account_id }}:table/*
      - arn:aws:states:us-east-1:{{ aws_account_id }}:*
      - arn:aws:kinesis:us-east-1:{{ aws_account_id }}:stream/*
  - Sid: ModifyCloudwatchLogs
    Effect: Allow
    Action:
      - logs:CreateLogGroup
      - logs:DeleteLogGroup
      - logs:PutRetentionPolicy
      - logs:DescribeMetricFilters
      - logs:DeleteMetricFilter
      - logs:PutMetricFilter
    Resource: arn:aws:logs:us-east-1:{{ aws_account_id }}:log-group:ansible-test*
  - Sid: ModifyCloudwatchAlarms
    Effect: Allow
    Action:
      - cloudwatch:PutMetricAlarm
      - cloudwatch:DeleteAlarms
    Resource: arn:aws:cloudwatch:us-east-1:{{ aws_account_id }}:alarm:ansible-test*
  - Sid: DescribeCloudwatchAlarms
    Effect: Allow
    Action:
      - cloudwatch:DescribeAlarms
    Resource: arn:aws:cloudwatch:us-east-1:{{ aws_account_id }}:alarm:*
  - Sid: AllowGlobalRestrictedResourceActionsWhichIncurFees
    Effect: Allow
    Action:
      - states:CreateStateMachine
      - states:StartExecution
      - states:StopExecution
      - states:UpdateStateMachine
    Resource:
      - arn:aws:states:us-east-1:{{ aws_account_id }}:*
  - Sid: Cloudformation
    Effect: Allow
    Action:
      - cloudformation:CreateChangeSet
      - cloudformation:CreateStack
      - cloudformation:DeleteChangeSet
      - cloudformation:DeleteStack
      - cloudformation:DescribeChangeSet
      - cloudformation:DescribeStackEvents
      - cloudformation:DescribeStacks
      - cloudformation:GetStackPolicy
      - cloudformation:GetTemplate
      - cloudformation:ListChangeSets
      - cloudformation:ListExports
      - cloudformation:ListStackResources
      - cloudformation:UpdateStack
      - cloudformation:UpdateTerminationProtection
    Resource: arn:aws:cloudformation:us-east-1:{{ aws_account_id }}:stack/*
