Version: '2012-10-17'
Statement:
  - Sid: AllowGlobalUnrestrictedResourceActionsWhichIncurNoFees
    Effect: Allow
    Action:
      - s3:GetLifecycleConfiguration
      - s3:PutLifecycleConfiguration
      - s3:PutEncryptionConfiguration
      - s3:GetEncryptionConfiguration
      - s3:CreateBucket
      - s3:DeleteBucket
      - s3:PutBucketAcl
      - s3:PutObjectAcl
      - s3:GetObject
      - s3:GetObjectVersion
      - s3:GetBucketVersioning
      - s3:PutBucketVersioning
      - s3:GetBucketRequestPayment
      - s3:PutBucketRequestPayment
      - s3:GetBucketAcl
      - s3:GetBucketPolicy
      - s3:PutBucketPolicy
      - s3:HeadObject
      - s3:ListBucketVersions
      - s3:DeleteObject
      - s3:PutObject
      - s3:ListBucket
      - s3:GetBucketTagging
      - s3:PutBucketTagging
      - s3:ListAllMyBuckets
      - ses:DescribeActiveReceiptRuleSet
      - ses:CreateReceiptRuleSet
      - ses:DeleteReceiptRuleSet
      - ses:ListReceiptRuleSets
      - ses:SetActiveReceiptRuleSet
      - ses:GetIdentityNotificationAttributes
      - ses:GetIdentityVerificationAttributes
      - ses:DeleteIdentity
      - ses:ListIdentities
      - ses:SetIdentityFeedbackForwardingEnabled
      - ses:SetIdentityHeadersInNotificationsEnabled
      - ses:SetIdentityNotificationTopic
      - ses:VerifyDomainIdentity
      - ses:VerifyEmailIdentity
      - ses:GetIdentityPolicies
      - ses:PutIdentityPolicy
      - ses:DeleteIdentityPolicy
      - ses:ListIdentityPolicies
      - ssm:DescribeParameters
      - dms:DescribeReplicationSubnetGroups
      - codecommit:ListRepositories
      - codepipeline:ListPipelines
      - codepipeline:GetPipeline
      - sqs:CreateQueue
      - sqs:DeleteQueue
      - sqs:GetQueueUrl
      - sqs:GetQueueAttributes
      - sqs:ListQueues
      - sqs:SetQueueAttributes
    Resource: "*"
  - Sid: AllowGlobalResourceRestrictedActionsWhichIncurNoFees
    Effect: Allow
    Action:
      - ssm:PutParameter
      - ssm:DeleteParameter
      - ssm:GetParametersByPath
      - ssm:GetParameters
      - dms:CreateReplicationSubnetGroup
      - dms:DeleteReplicationSubnetGroup
      - dms:ModifyReplicationSubnetGroup
      - codepipeline:CreatePipeline
      - codepipeline:DeletePipeline
      - codepipeline:UpdatePipeline
      - codecommit:CreateRepository
      - codecommit:DeleteRepository
      - SNS:CreateTopic
      - SNS:DeleteTopic
      - SNS:GetTopicAttributes
      - SNS:ListTopics
      - SNS:ListSubscriptionsByTopic
      - logs:DescribeLogGroups
      - elasticfilesystem:DescribeFileSystems
      - elasticfilesystem:DescribeMountTargets
      - elasticfilesystem:DescribeMountTargetSecurityGroups
      - elasticfilesystem:DescribeTags
      - elasticfilesystem:CreateFileSystem
      - elasticfilesystem:CreateMountTarget
      - elasticfilesystem:CreateTags
      - elasticfilesystem:DeleteFileSystem
      - elasticfilesystem:DeleteMountTarget
    Resource:
      - arn:aws:ssm:us-east-1:{{ aws_account_id }}:parameter/*
      - arn:aws:dms:us-east-1:{{ aws_account_id }}:subgrp:*
      - arn:aws:codecommit:us-east-1:{{ aws_account_id }}:*
      - arn:aws:codepipeline:us-east-1:{{ aws_account_id }}:*
      - arn:aws:sns:us-east-1:{{ aws_account_id }}:*
      - arn:aws:sqs:us-east-1:{{ aws_account_id }}:*
      - arn:aws:logs:us-east-1:{{ aws_account_id }}:log-group:*
      - arn:aws:elasticfilesystem:us-east-1:{{ aws_account_id }}:file-system/*
  - Sid: ModifyCloudwatchLogs
    Effect: Allow
    Action:
      - logs:CreateLogGroup
      - logs:DeleteLogGroup
    Resource: arn:aws:logs:us-east-1:{{ aws_account_id }}:log-group:ansible-test*
