# Copyright (C) 2019 Matt Clay <matt@mystile.com>
# GNU General Public License v3.0+ (see ansible/LICENSE.md or https://www.gnu.org/licenses/gpl-3.0.txt)

[FORMAT]
max-line-length=160
reports=no
score=no
disable=
  invalid-name,
  missing-docstring,
  no-self-use,
  similarities,
  too-few-public-methods,
  too-many-arguments,
  too-many-branches,
  too-many-instance-attributes,
  too-many-locals,
  useless-object-inheritance,
